body
            {
                background-color: rgb(255, 231, 201);
                color: rgb(100, 0, 0);
            }

a {
    color:rgb(0, 85, 255)
}

a:visited {
    color: blueviolet;
}

a:hover, a:active {
    color: rgb(147, 147, 255);
}

table, tr, th, td, caption {
    border: 1px solid;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: collapse;
    padding: 0.5rem;
}